<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg" style="background:linear-gradient(90deg,white,blue);">
        <div class="container-fluid">
            <!-- 1st logo/ brand -->
            <a class="navbar-brand text-danger display-6 text-uppercase" style="font-weight: bold;" href="#">MyBank</a>
            <!-- 2nd toggle button -->
            <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#myBankMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- 3rd Menu -->
            <div class="collapse navbar-collapse" id="myBankMenu">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <button class="view btn btn-outline-light rounded-5 me-2"><span class="bi bi-list-columns"></span>All Available</button>
                    </li>
                    <li class="nav-item">
                        <button class="search btn btn-outline-light rounded-5 me-2"><span class="bi bi-search"></span>Search by ROI</button>
                    </li>
                    <li class="nav-item">
                        <button class="logout btn btn-outline-light rounded-5 me-2"><span class="bi bi-door-open"></span> Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    </body>
</html>